{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block extrastatic %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block bodycalss %}class="text-center"{% endblock %}

{% block body %}
<main class="form-signin">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            {% load static %}
        <img src="{% static 'img/cake_logo.png' %}" alt="" width="30%" height="30%">
        {% if form.errors %}
            <p>Имя пользователя или пароль введены неверно. Пожалуйста введите учетные данные заново.</p>
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
            <p>У вашего аккаунта недостаточно прав для доступа к этой странице. Авторизуйтесь под другой учетной записью
                чтобы получить доступ</p>
            {% else %}
                <h1 class="h3 mb-3 fw-normal">Добро пожаловать</h1>
                <p>Пожалуйста авторизуйтесь чтобы получить доступ к этой странице</p>
            {% endif %}
        {% else %}
        <h1 class="h3 mb-3 fw-normal">Добро пожаловать</h1>
        {% endif %}
        <div class="form-floating">
            <input id="id_username" type="text" name="username" class="form-control" placeholder="Имя пользователя"
                   required
                   autofocus>
            <label for="id_username">Имя пользователя</label>
        </div>
        <div class="form-floating mb-3">
            <input id="id_password" type="password" name="password" class="form-control" placeholder="Пароль" required>
            <label for="id_password">Пароль</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember_me"> Запомнить меня
            </label>
        </div>
        <button class="w-100 btn btn-very-pery btn-lg btn-primary" type="submit">Войти</button>
        {# Assumes you setup the password_reset view in your URLconf {% url 'password_reset' %} #}
        <p class="mt-5 mb-3 text-muted"><a href="#">Забыли пароль?</a></p>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
</main>
{% endblock %}