{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block extrastyle %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 container">
    <div class="container-fluid">
        <h1 class="display-6 mb-2">{{ recipe.name }}</h1>
        <p class="lead mb-5">{{ recipe.description }}</p>
        <form>
        <div class="row mb-3">
            <label for="form" class="col-sm-2 col-form-label">Форма:</label>
            <div class="col-sm-10">
                <select id="form" class="form-select">
                    {% for f, v in recipe.FORMS %}
                        <option value="{{ f }}" {% if f == recipe.form %} selected {% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3" id="diameter_field">
            <label for="diameter" class="col-sm-2 col-form-label">Диаметр:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="diameter" value="{% if recipe.diameter %}{{ recipe.diameter }}{% endif %}">
            </div>
        </div>
        <div class="row mb-3" id="length_field">
            <label for="length" class="col-sm-2 col-form-label">Длина:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="length" value="{% if recipe.length %}{{ recipe.length }}{% endif %}">
            </div>
        </div>
        <div class="row mb-3" id="width_field">
            <label for="width" class="col-sm-2 col-form-label">Ширина:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="width" value="{% if recipe.width %}{{ recipe.width }}{% endif %}">
            </div>
        </div>
        <div class="row mb-3" id="height_field">
            <label for="height" class="col-sm-2 col-form-label">Высота:</label>
            <div class="col-sm-10">
            <input type="number" class="form-control" id="height" value="{% if recipe.height %}{{ recipe.height }}{% endif %}"
                   {% if not recipe.height %}
                   readonly
                   {% endif %}>
            </div>
        </div>
        <div class="row mb-3">
            <label for="weight" class="col-sm-2 col-form-label">Вес:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="weight" value="{{ recipe.weight }}">
            </div>
        </div>
        <div class="row mb-5">
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-very-pery" id="recount">Пересчитать</button>
                <button type="reset" class="btn btn-warning disabled" id="reset">Сброс</button>
            </div>
        </div>
        </form>
        <h1 class="display-6">Ингредиенты:</h1>
        <div class="table-responsive">
            <table class="table table-bordless table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Единица измерения</th>
                    <th>Примечание</th>
                </tr>
                </thead>
                {% for ingredient in recipe.ingredients_set.all %}
                    <tr>
                        <td>{{ ingredient.component.name }}</td>
                        <td class="value">{{ ingredient.quantity }}</td>
                        <td>{{ ingredient.component.units }}</td>
                        <td>{% if ingredient.annotation %} {{ ingredient.annotation }} {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% load static %}
{% block script %}
    <script src="{% static 'js/recipe_recount.js' %}"></script> {% endblock %}