{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block header %}{{ recipe.name }}{% endblock %}

{% block options %}
    <li><a href="{{ recipe.get_edit_url }}" class="text-info">Изменить рецепт</a></li>
{% endblock %}

{% block content %}
<div class="form-group row">
     <div class="col-sm-2"><strong>Описание:</strong></div>
     <div class="col-sm-10">{{ recipe.description }}</div>
</div>
<div class="form-group row">
    <div class="col-sm-2"><strong>Рецепт:</strong></div>
    <div class="col-sm-10">{{ recipe.instruction }}</div>
</div>
<div class="form-group row">
    <label for="weight" class="col-sm-2 col-form-label"><strong>Вес:</strong></label>
    <div class="col-sm-10">
    <input type="number" class="form-control" id="weight" value="{{ recipe.weight }}">
    </div>
</div>
<div class="form-group row">
    <label for="form" class="col-sm-2 col-form-label"><strong>Форма:</strong></label>
    <div class="col-sm-10">
    <select id="form" class="form-control" >
        {% for f, v in recipe.FORMS %}
            <option value="{{ f }}" {% if f == recipe.form %} selected {% endif %}>{{ v }}</option>
        {% endfor %}
    </select>
    </div>
</div>
<div class="form-group row" id="diameter_field">
    <label for="diameter" class="col-sm-2 col-form-label"><strong>Диаметр:</strong></label>
    <div class="col-sm-10">
    <input type="number" class="form-control" id="diameter" value="{% if recipe.diameter %}{{ recipe.diameter }}{% endif %}">
    </div>
</div>
<div class="form-group row" id="length_field">
    <label for="length" class="col-sm-2 col-form-label"><strong>Длина:</strong></label>
    <div class="col-sm-10">
    <input type="number" class="form-control" id="length" value="{% if recipe.length %}{{ recipe.length }}{% endif %}">
    </div>
</div>
<div class="form-group row" id="width_field">
    <label for="width" class="col-sm-2 col-form-label"><strong>Ширина:</strong></label>
    <div class="col-sm-10">
    <input type="number" class="form-control" id="width" value="{% if recipe.width %}{{ recipe.width }}{% endif %}">
    </div>
</div>
<div class="form-group row">
    <div class="col-sm">
    <button type="submit" class="btn btn-info btn-block" id="recount">Пересчитать</button>
    </div>
</div>
    <br>
    <div>
        <p><strong>Ингредиенты:</strong></p>
        <table class="table table-bordless table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Единица измерения</th>
                <th>Примечание</th>
            </tr>
            </thead>
            {% for ingredient in recipe.ingredients_set.all %}
                <tr>
                    <td>{{ ingredient.component.name }}</td>
                    <td class="value">{{ ingredient.quantity }}</td>
                    <td>{{ ingredient.component.units }}</td>
                    <td>{% if ingredient.annotation %} {{ ingredient.annotation }} {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
{% load static %}
{% block script %}
    <script src="{% static 'js/recipe_recount.js' %}"></script> {% endblock %}