{% extends "base.html" %}

{% block title %}Новый рецепт{% endblock %}
{% block header %}Новый рецепт{% endblock %}
{% block content %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(function() {
        $('.ingredients_set').formset({
        addText: 'Добавить ингредиент',
        deleteText: 'удалить',
        prefix: '{{ ingredients.prefix }}',
        });
    })
</script>
    <form method="post" id="myForm">
        {% csrf_token %}
        {{ form.non_form_errors }}
        <div class="form-group">
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.instruction.errors }}
            {{ form.instruction.label_tag }}
            {{ form.instruction }}
        </div>
        <div class="form-group row">
            {{ form.form.errors }}
            <label for="id_form" class="col-sm-2 col-form-label">Форма:</label>
            <div class="col-sm-10">
                {{ form.form }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.diameter.errors }}
            <label for="id_diameter" class="col-sm-2 col-form-label">Диаметр:</label>
            <div class="col-sm-10">
                {{ form.diameter }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.length.errors }}
            <label for="id_length" class="col-sm-2 col-form-label">Длина:</label>
            <div class="col-sm-10">
                {{ form.length }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.width.errors }}
            <label for="id_width" class="col-sm-2 col-form-label">Ширина:</label>
            <div class="col-sm-10">
                {{ form.width }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.weight.errors }}
            <label for="id_weight" class="col-sm-2 col-form-label">Вес:</label>
            <div class="col-sm-10">
                {{ form.weight }}
            </div>
        </div>

        <h5>Ингридиенты:</h5>

        {{ ingredients.non_form_errors }}
        {{ ingredients.management_form }}
        {% for form in ingredients %}
            <div class="d-flex py-1 inline {{ ingredients.prefix }}">
                <div>{{ form.component }}
                    <a href="{% url 'component_update' %}" title="Изменить компонент">
                        <img src="/static/img/change.png">
                    </a>
                    <a href="{% url 'component_create' %}" title="Добавить компонент">
                        <img src="/static/img/add.png">
                    </a>
                </div>
                <div class="ml-auto">{{ form.quantity.label }}: {{ form.quantity }}</div>
                <div class="ml-auto">{{ form.annotation.label }}: {{ form.annotation }}</div>
                {% if ingredients.can_delete %}
                    <div class="ml-auto">{{ form.DELETE }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="mt-3 mb-5">
            <button type="submit" class="px-5 btn btn-info">Сохранить</button>
        </div>
    </form>
{% endblock %}
{% load static %}
{% block script %}
    <script src="{% static 'js/recipe_add.js' %}"></script>
{% endblock %}