{% extends "base.html" %}

{% block header %}Аромат Бисквита{% endblock %}

{% block content %}

<h4>Привет <em>{{ user.first_name }}!</em></h4>

{% if recipes != -1 %}
    <p>Твои рецепты:</p>
    {% for recipe in recipes %}
    <ul>
        <li><strong><a href="{{ recipe.get_absolute_url }}" class="text-info">{{ recipe.name }}</a></strong></li>
        <p>({{ recipe.description}})</p>
    </ul>
    {% endfor %}
{% else %}
<p>У тебя еще не рецептов, но ты можешь их <a href="{% url 'recipe_create' %}">добавить</a>!</p>
{% endif %}

{% endblock %}