.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.card-header {
    background-color: #6667ab;
    color: white;
}

.btn-info {
    background-color: #6667ab;
    border-color: #6667ab;
}

/* Disable bootstrap d-flex rule to override display: none rule */
.d-flex[style*="display:none"], .d-flex[style*="display: none"] {
    display:none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}