/* Fixed navbar */
body {
  /*min-height: 75rem;*/
  padding-top: 4.5rem;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.btn-very-pery {
    color: white;
    background-color: #6667ab;
    border-color: #6667ab;
}

.btn-very-pery:hover {
    color: white;
    background-color: #575891;
    border-color: #575891;
}

.list-group {
  width: auto;
  /*max-width: 460px;*/
  margin: 4rem auto;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  z-index: 1;
  color: #fff;
  text-decoration: none;
  background-color: #6667ab;
}

/* Disable bootstrap d-flex rule to override display: none rule */
.d-flex[style*="display:none"], .d-flex[style*="display: none"] {
    display:none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}